# Node
node_modules/
npm-debug.log*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.build/

# OS / Editor
.DS_Store
.vscode/

# Local test artifacts
response.json

dist/
services/**/dist/